#root, html, body{
    height: 100vh;
}

*{
    box-sizing: border-box;
    font-family:  Courier;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background: linear-gradient(to right, #3176df, #ca3ee6 );
}



